# You have to create your own .env file, this is just a template 


MYSQL_USER=user
# This have to be changed 
MYSQL_PASSWORD=user
MYSQL_RANDOM_ROOT_PASSWORD=yes
MYSQL_DATABASE=example


NGINX_PORT=80

# Database port to acces to the database, don't forget to open/close it 
ADMINER_PORT=8080

# check your user id => echo $UID
LOCAL_USER=1000:1000

ENV=DEV

